.elements {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 17px;
  padding-top: 50px;
  margin: 0 auto;
}

.elements__rectangle {
  height: 361px;
  width: 282px;
  border: 1.5px solid #000000;
  background: #ffffff;
  overflow: hidden;
  border-radius: 10px;
}

.elements__image {
  max-width: 282px;
  max-height: 282px;
}

.elements__image-rectangle {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 246px;
  height: 23px;
  margin: 25px auto 31px;
}

.elements__btn-like {
  border: none;
  background: transparent url(../images/like.svg) no-repeat;
  background-size: 100%;
  cursor: pointer;
  height: 19px;
  width: 21px;
  padding: 0;
}

.elements__btn-like:hover {
  opacity: 60%;
}

.elements__btn-like:active {
  background: url(../images/liked.svg);
}

.elements__image-title {
  font-family: Inter;
  font-size: 24px;
  font-weight: 900;
  line-height: 29.05px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 50px;
  }

  .elements__image {
    max-width: 100%;
  }

  .elements__image-title {
    font-family: Inter;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
  }
}

@media screen and (max-width: 540px) {
  .elements {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    padding: 0;
    margin-top: 36px;
  }
}
