.footer {
  width: 100%;
  color: #545454;
  background-color: #000000;
  display: flex;
  justify-content: flex-start;
  margin: auto;
}

.footer__copyright {
  box-sizing: border-box;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: left;
  margin-top: 67px;
  margin-left: 200px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1024px) {
  .footer__copyright {
    margin-top: 88px;
    height: 16px;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 540px) {
  .footer__copyright {
    margin: 50px 19px 36px;
    height: 14px;
  }
}
