.page {
  max-width: 1440px;
  margin: auto;
  font-family: "Inter";
  background-color: #000000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay {
  opacity: 0.6;
}

@media screen and (max-width: 1024px) {
  .page {
    padding: 0;
  }
}
@media screen and (max-width: 540px) {
  .page {
    padding: 0;
  }
}
